:root {
  --bg: ##f8f8f8;
  --text: #29292e;
  --box: #a8a8b3;
  --white: #fff;
  --white-cool: #f8f8f8;

  --purple: #835afd;
  --red-500: #ea4335;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--bg);
  color: var(--text);
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}

button {
  cursor: pointer;
  border: 0;
}